body {
  font-family: arial, helvetica, sans-serif;
  overflow-x: hidden;
}

a.anchor {
  position: relative;
  top: -50px;
  visibility: hidden;
  display: block;
}

.row {
  margin: 0;
  width: 100%;
}

.navbar {
  width: 100%;
  background-color: #191919;
  min-height: 80px;
  border-radius: 0;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.03);
  padding-right: 50px;
}

.navbar .nav {
  float: right;
}

.navbar .navbar-brand {
  padding: 6px 22px 0 22px;
  max-width: none;
}

.navbar img {
  display: inline-block;
  width: 200px;
  height: 72px;
}

.navbar .nav > li > a {
  font-size: 1.3em;
  padding: 32px 35px 32px 35px;
}

.navbar .nav .active a,
.navbar .nav .active a:focus {
  background-color: #1a1a1a;
}

.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
  color: #ffffff;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: #ffffff;
}

.github-logo {
  z-index: 2000;
  position: fixed;
  top: 0;
  right: 0;
  border: 0;
}

.intro {
  margin-top: 20px;
  padding-top: 125px;
  height: 665px;
  background-image: url('../img/background1.png');
  background-position: center center;
  background-color: #030303;
  border-bottom: 1px solid rgba(255, 255, 255, 0.13);
}

.intro img {
  width: 800px;
  margin: 0 auto 40px auto;
  display: block;
}

.intro .intro-label {
  font-weight: 700;
  font-size: 2.5em;
  letter-spacing: 1px;
  color: #f0f0f0;
  text-shadow: 0 1px 10px rgba(255, 255, 255, 0.4);
  text-align: center;
}

.intro .intro-button-group {
  margin: 45px auto 0 auto;
  width: 485px;
}

.intro .intro-button {
  font-size: 1.4em;
  letter-spacing: 5px;
  color: #f0f0f0;
  cursor: pointer;
  display: inline-block;
  padding: 10px 0;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 100px;
  text-align: center;
  width: 220px;
  text-decoration: none;
}

.intro .intro-button:hover {
  background-color: rgba(255, 255, 255, 0.20);
}

.intro .intro-button.first {
  margin-right: 40px;
}

.intro-info {
  height: 775px;
  background-image: url('../img/background2.png');
  background-position: center center;
  background-color: #030303;
  border-bottom: 1px solid rgba(255, 255, 255, 0.13);
}

.intro-info .intro-info-labels {
  width: 800px;
  margin: 0 auto;
}

.intro-info .intro-info {
  float: left;
}

.intro-info .info-label .title {
  font-weight: 700;
  font-size: 2.5em;
  letter-spacing: 1px;
  color: #f0f0f0;
  text-shadow: 0 1px 10px rgba(255, 255, 255, 0.4);
}

.intro-info .info-label .description {
  font-size:  1.35em;
  letter-spacing: 1px;
  color: #f0f0f0;
  text-shadow: 0 1px 12px rgba(255, 255, 255, 0.5);
  text-align: center;
}

.intro-info .info-label.one {
  position: relative;
  top: 113px;
  left: 151px;
}

.intro-info .info-label.one .description {
  margin: 3px 0 0 44px;
  width: 565px;
}

.intro-info .info-label.two {
  position: relative;
  top: 170px;
  left: 240px;
}

.intro-info .info-label.two .description {
  margin: 3px 0 0 -31px;
  width: 341px;
}

.intro-info .info-label.three {
  position: relative;
  top: 260px;
  left: 193px;
}

.intro-info .info-label.three .description {
  margin: 3px 0 0 17px;
  width: 385px;
}

.intro-screenshots {
  height: 795px;
  padding-top: 5px;
  background-image: url('../img/background3.png');
  background-position: center top;
  background-color: #090909;
  border-bottom: 1px solid rgba(255, 255, 255, 0.13);
}

.intro-screenshots .screenshots {
  width: 900px;
  height: 570px;
  margin: 75px auto 0 auto;
  display: block;
  box-shadow: 0 0 25px #aaaaaa;
}

.intro-screenshots img {
  position: absolute;
  width: 900px;
  display: block;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.intro-screenshots img.current {
  opacity: 0.9;
}

.intro-screenshots .buttons {
  margin: 50px auto 0 auto;
  width: 104px;
}

.intro-screenshots .button {
  background-color: #3f3f3f;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  display: inline-block;
  margin: 0 10px;
}

.intro-screenshots .button:hover {
  background-color: #ffffff;
}

.intro-screenshots .button:active {
  background-color: #3f3f3f;
}

.intro-screenshots .button.current,
.intro-screenshots .button.current:hover {
  background-color: #d6d6d6;
}

.intro-install {
  height: 1475px;
  padding-top: 5px;
  background-image: url('../img/background4.png');
  background-position: center bottom;
  background-color: #0c0c0c;
}

.intro-install .title {
  margin-top: 75px;
  font-weight: 700;
  font-size:  2.5em;
  letter-spacing: 1px;
  color: #f0f0f0;
  text-shadow: 0 1px 12px rgba(255, 255, 255, 0.5);
  text-align: center;
}

.intro-install pre {
  padding: 30px 0;
  margin: 10px auto;
  width: 550px;
  color: #ffffff;
  border: none;
  background-color: rgba(255, 255, 255, 0.10);
}

.intro-footer {
  font-size: 1em;
  height: 60px;
  padding-top: 20px;
  letter-spacing: 1px;
  color: #999999;
  background-color: #0c0c0c;
  text-align: center;
}
