<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <a class="navbar-brand" href="#">
        <img class"brand-img" src="img/drivnal.svg">
      </a>
      <ul class="nav navbar-nav">
        <li><a href="demo">Demo</a></li>
        <li><a href="#install">Install</a></li>
        <li><a href="//github.com/drivnal/drivnal/wiki">Documentation</a></li>
        <li><a href="//github.com/drivnal">Development</a></li>
      </ul>
    </div>
{{ content }}
    <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
  </body>
</html>
